<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>786235496459-5aqadqp3qauvsq9m4ca9c201ojacppp1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.786235496459-5aqadqp3qauvsq9m4ca9c201ojacppp1</string>
	<key>API_KEY</key>
	<string>AIzaSyCUKkKYwcmbPfkENjjVz4XNTAj5F3KxBxU</string>
	<key>GCM_SENDER_ID</key>
	<string>786235496459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-b8066</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-b8066.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786235496459:ios:583193e32f6375e2898f0e</string>
</dict>
</plist>